---
title: The vanguard of web aesthetics
date: 2024-05-09 16:33 CDT
category: data driven
tags: data driven, imagetest, example
summary: >
  * Responsive Media Objects
      * code
      * render
  * Alternate Floating Left and Right
      * code
      * render
stylesheet: additional_styles/posts/the-vanguard-of-web-aesthetics-2024-05-09
---

<!-- https://github.com/basscss/addons/blob/master/modules/media-object/README.md -->
<!-- can use just css to alternate positioning, how many browsers allow -->
<!-- https://stackoverflow.com/questions/11781531/alternating-left-and-right-positioning-with-css -->
<!-- can we construct links to fragments on this page with markdown []() notation -->
<!-- css to show and hide stuff, 1st problem, need # signs for id's, also links to fragment anchor cause page to move up -->
<!-- https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button -->
<!-- display, summary using kramdown with code blocks he uses backticks though? -->
<!-- https://www.endtoend.ai/tutorial/collapsible-code-blocks/#the-safe-arduous-way -->
<!-- getalong turning off markdown processing and doing figure stuff, used this before I believe -->
<!-- https://github.com/gettalong/kramdown/issues/48 -->
<!-- moz dev page on details/summary -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details -->

{::comment}

I can and do say

    <%%= image_tag "posts/the-vanguard-of-web-aesthetics-2024-05-09/#{e[:img]}" %>

where the-vanguard-of-web-aesthetics-2024-05-09 is a directory name, a subdirectory of images/posts

But I can not say

    <%% elements = data.posts.the-vanguard-of-web-aesthetics-2024-05-09.red_zen %>

where  the-vanguard-of-web-aesthetics-2024-05-09 would be a directory name, a subdirectory of data/posts

but instead have to say

    <%% elements = data.posts.the_vanguard_of_web_aesthetics_2024_05_09.red_zen %>

where the_vanguard_of_web_aesthetics_2024_05_09 is a directory name with underscores, a subdirectory of data/posts

{:/comment}

* Responsive Media Objects
    * <%= link_to "code", current_page, :fragment => "rmo_code" %>
    * <%= link_to "render", current_page, :fragment => "rmo_render" %>
* Alternate Floating Left and Right
    * <%= link_to "code", current_page, :fragment => "flr_code" %>
    * <%= link_to "render", current_page, :fragment => "flr_render" %>

{::options parse_block_html="true" /}
{::comment}best when no newline between div,#rmo_ id details{:/}
<div>
{: #rmo_code}
<details class="description">
  <summary class="hw h2" data-open="Hide Responsive Media Objects code" data-close="View Responsive Media Objects code"></summary>

<%= data.posts.the_vanguard_of_web_aesthetics_2024_05_09.code_for_media_objects.postscript %>

{::options parse_block_html="false" /}
<div class="pagination clearfix"><div class="right"><%= link_to 'Code Summary', "#rmo_code" %></div></div>

</details>
<br/>
</div>

## Responsive Media Objects (render)
{: #rmo_render}

<% elements = data.posts.the_vanguard_of_web_aesthetics_2024_05_09.red_zen %>

<% elements.each do |e| -%>
<div class="mt3 mb3 sm-media media-center">
  <%= image_tag "posts/the-vanguard-of-web-aesthetics-2024-05-09/#{e[:img]}",
                :style => "max-width: 12rem;" %>
  <div class="media-body">
  <!--       "h2 heading-font-family bold mb0" -->
    <p class="h2 hw mb0">
    <%= e[:name] %>
    </p>
    <p class="extra" markdown="1">
    <%= e[:text] %>
    </p>
  </div>
</div>
<% end -%>

<div class="pagination clearfix"><div class="right"><%= link_to 'Top', "#" %></div></div>

{::options parse_block_html="true" /}
{::comment}best when no newline between div,#flr_ id details{:/}
<div>
{: #flr_code}
<details class="description">
  <summary class="hw h2" data-open="Hide Alternate Floating Left and Right code" data-close="View Alternate Floating Left and Right code"></summary>

<%= data.posts.the_vanguard_of_web_aesthetics_2024_05_09.code_for_alternate_floating.postscript %>

{::options parse_block_html="false" /}
<div class="pagination clearfix"><div class="right"><%= link_to 'Code Summary', "#flr_code" %></div></div>

</details>
<br/>
</div>

## Alternate Floating Left and Right (render)
{: #flr_render}

<% elements = data.posts.the_vanguard_of_web_aesthetics_2024_05_09.red_zen %>
<div markdown="1">
<% side = :right %>
<% class_attrs = {} %>
<% class_attrs[:right] = "right ml2 mb1" ;
   class_attrs[:left] = "left mr2 mb1" %>
<% elements.each do |e| -%>
  <%= image_tag "posts/the-vanguard-of-web-aesthetics-2024-05-09/#{e[:img]}",
                :style => "max-width: 12rem;",
                :class => class_attrs[side] %>
  <% side = (side == :right ? :left : :right) -%>
 Of the hand and the wrist bone. Continue wrapping the large strap around
the wrist, leaving a fifteen-centimeter length at the end. Moving from the base
of the hand, tuck the end piece under the top layer of the large strap and pull
it toward you. Slightly tighten the strap layers and loop the end piece over
and through the top strap once again. To finish, tighten the strap layers and
straighten the loop.

 Wing feathers (teba). In the case of other birds like turkeys or swans,
only the wing feathers are used. These feathers are relatively inexpensive.
However, they do not hold up under repeated use as well as eagle or hawk
feathers.
Feathers from both the right side and the left side are used to make arrows.
Arrows that have feathers that curve to the left are called baya, or first
arrows, while those that curve to the right are called otoya, or second arrows.

<% end -%>
</div>

<div class="pagination clearfix"><div class="right"><%= link_to 'Top', "#" %></div></div>
