---
pageable: true
---
<% current_page.data.title= "Articles tagged #{tagname}" %>

<h1>Articles tagged '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <!--
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
  -->
<% end %>

<!--
<ul class="post-list">
  <% page_articles.each_with_index do |article, i| %>
    <li><span class="force-span"><%= link_to article.title, article %> </span><span class="p-m entry-date right"><%= article.date.strftime('%B %-d, %Y') %></span></li>

  <% end %>
</ul>
-->

<table class="ellipsis">
  <% page_articles.each_with_index do |article, i| %> 
    <tr>
      <td></td>
      <td><span class="sit-header"><%= link_to article.title, article %></span></td>
      <td style="vertical-align: bottom;" align="right" class="small"><span class="p-m right entry-date "><%= article.date.strftime('%B %d, %Y') %></span></td>
    </tr>
  <% end %>
</table>

<!--
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
-->

<div class="mnt3-5">
<%= partial 'partials/pagination', :locals =>{paginate: paginate, prev_page: prev_page, next_page: next_page} %>
</div>

<div class="home">
  <div class="posts">
    <% page_articles.each do |article| %>
      <div class="post py3">
        <%# within .posts there is a .post %>
        <p class="post-meta"> <%=article.date.strftime('%b %e, %Y')%> </p>

        <!-- %= link_to "<h3   class=\"h1 post-title\"  >#{article.title}</h3>", article, :class=>"post-link" % -->


        <% link_to  article, :class=>"post-link" do %><%= "<h3 class=\"h1 post-title\">#{article.title}</h3>" %><% end %>

        <div class="post-summary">
        <%= article.summary() %>
        </div>
      </div>
    <% end %>
  </div>

<%= partial 'partials/pagination', :locals =>{paginate: paginate, prev_page: prev_page, next_page: next_page} %>
</div>

